.body-cart {
    width: 85%;
    height: 90%;
    background-color: #F7ECDE;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tittle{
    color: rgb(139, 65, 120);
    text-align: center;
}
.marquee {    
    text-align: center; 
    color:#dd4c54;   
    margin: 0 25%;
    margin-top: 25px;
}
.taco_container {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  
  
  
}
.img_class{
    width:25%;
    float:left;
    height: 250px;
    margin: 15px;
    
}
.footer{
    background-color: #247bdd;
    width: 100%;
    height: 100px;
    float: inline-end;
    }
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 20px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 50%;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #d37a13;
  color: white;
}

.fa-twitter {
  background: #289b4e;
  color: white;
}

.fa-google {
  background: #b4200c;
  color: white;
  
}

.footer-icon{
    margin-left: 75%;
}